.DS_Store
.buildpath
.idea/
.project
.settings/
et.iml
app/tmp/logs/*.txt
*.db
*.gz
*.screen
*.cache
/nbproject/
config.php
.tmp
test-code.php
CHANGELOG.md
CHANGELOG.mdown
READEME.mdown
tests
Tests
phpunit
composer.json
composer.lock
phinx.php
.htaccess
